{% extends 'base.html.twig' %}

{% block title %}Les tendances d'anaëlle{% endblock %}

{% block body %}
<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option" style = "background-color:#EAE6DF;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>About Us</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__pic">
                        <img src="./img/about/firsteam.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-16 col-md-16 col-sm-24">
                    <div class="about__item">
                        <h4 style="text-align:center">Who we are ?</h4>
                        <p><p> Tout d'abord en auto-entreprise, Les Tendances d'Anaelle a été créée en 2011 pour financer les études d'Anaelle. Entre rendez-vous à domicile et ventes en réunions, l'entreprise a grandi et le cercle de clientes également. Après 3 ans en auto-entreprise, la boutique a vu le jour le 27 aout 2014 afin de répondre à un besoin grandissant de la part des clientes de shopper des pièces tendances et à prix abordables. De plus, le manque de boutiques indépendantes dans le secteur n'a fait que confirmer ce désir d'ouvrir uen boutique.
                            Les collections proposées y sont girly, cosy et épurées, en allant du prêt-à-porter aux chaussures en passant par les accessoires (ceintures, bijoux, sacs etc). Les articles sont choisies en petite quantité afin de proposer des collections éphémères continuellement renouvellées. Les nouveautés arrivent toutes les semaines en boutique !
                        </p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    {# <!-- Testimonial Section Begin -->
    <section class="testimonial">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="testimonial__text">
                        <span class="icon_quotations"></span>
                        <p>“Going out after work? Take your butane curling iron with you to the office, heat it up,
                            style your hair before you leave the office and you won’t have to make a trip back home.”
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__pic">
                                <img src="img/about/testimonial-author.jpg" alt="">
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Augusta Schultz</h5>
                                <p>Fashion Design</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="testimonial__pic set-bg" data-setbg="img/about/testimonial-pic.jpg"></div>
                </div>
            </div>
        </div>
    </section> #}
    <!-- Testimonial Section End -->


    <!-- Team Section Begin -->
    <section class="team spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Team</span>
                        <h2>Meet Our Team</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team__item">
                        <img src="./img/about/annaelle.jpg" alt="">
                        <h4>Annaelle</h4>
                        <p>Fondatrice</p>
                        <span> C'est l'image de la boutique (et oui, c'est elle que vous voyez quotidiennement sur les réseaux sociaux 😉)
                            Elle cherche sans cesse à se renouveller et trouver de nouvelles idées plus au moins innovantes, pour vous faire vivre différentes expériences shopping.
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team__item">
                        <img src="./img/about/cecile.jpg" alt="">
                        <h4>Cécile</h4>
                        <p>Conseillère mode</p>
                        <span> Si on devait définir Cécile, on est toutes unanimes pour dire qu'elle représente la sagesse et la douceur de la team !
                            D'un caractère calme et posé, c'est toujours avec le sourire qu'elle vous accueillera et vous conseillera tout en douceur.
                            Cécile est la premièer arrivée en Octobre 2016.
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team__item">
                        <img src="./img/about/julie.jpg" alt="">
                        <h4>Julie</h4>
                        <p> Conseillère mode + Community manager </p>
                        <span>  Fraichement arrivée, Julie a débuté l'aventure en venant en renfort pour la foire St Martin en Novembre 2022. Elle est resté en sein de la team en remplacement de Cécile qui est absente pour une durée indéterminée.
                            En plus de vous apporter ses conseils mode, c'est elle qui créée nos visuels et dynamise nos réseaux sociaux !
                            Elle apporte sa fraicheur et son côté pétillant à l'équipe.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->


{% endblock %}
