{% extends 'base.html.twig' %}

{% block title %}AdminPage{% endblock %}

{% block body %}
</br>
</br>
</br>
</br>
<li><a href="{{ path('app_clothes_index')}}">Clothes</a></li>
<li><a href="{{ path('app_user_index')}}">User</a></li>



{% endblock %}
